Repository xskipper-io/xskipper-regex-plugin, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, EXAMPLES, PYTHON

set version
  version.sbt
Labels: none

build sbt
  build.sbt
Labels: none

cleanup
  .github/workflows/build.yml
Labels: INFRA

add missing build files
  build/sbt
  build/sbt-launch-lib.bash
Labels: BUILD

add build status badge
  README.md
Labels: DOCS

minor fix to release
  .github/workflows/release.yml
Labels: INFRA

minor fix
  .github/workflows/build.yml
Labels: INFRA

Setting version to 0.1.0
  version.sbt
Labels: none

Setting version to 0.1.1-SNAPSHOT
  version.sbt
Labels: none

.github/labeler.yml:

# Copyright 2021 IBM Corp.
# SPDX-License-Identifier: Apache-2.0
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

INFRA:
  - .gitattributes
  - .gitignore
  - .github/**/*
BUILD:
  - "build/**/*"
  - "project/**/*"
DOCS:
  - "**/README.md"
  - "**/CONTRIBUTING.md"
EXAMPLES:
  - notebooks/**/*
PYTHON:
  - python/**/*
